[Unit]
Description=GNOME Display Manager (Hardware Accelerated)

# replaces the getty
Conflicts=getty@tty7.service
After=getty@tty7.service

Conflicts=
After=

# Needs all the dependencies of the services it's replacing
# pulled from getty@.service and
After=rc-local.service systemd-user-sessions.service

# Don't start if there's no graphic card available
ConditionPathExists=/dev/dri/card0

[Service]
ExecStart=/usr/bin/gdm
KillMode=mixed
Restart=always
IgnoreSIGPIPE=no
BusName=org.gnome.DisplayManager
StandardOutput=syslog
StandardError=inherit
EnvironmentFile=-/etc/locale.conf
ExecReload=/bin/kill -SIGHUP $MAINPID

[Install]
Alias=display-manager-hw-accel.service
